# Caminhos de dados (relativos a root do projeto)
RAW_DATA_PATH=data/raw/transactions.csv
STAGING_DATA_PATH=data/staging/
PROCESSED_DATA_PATH=data/processed/

# Parâmetros do pipeline
VALOR_MINIMO_VALIDO=0.0
LIMITE_OUTLIER_DESVIO=3